* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: white;
  --bg-color: black;
  --button-color: rgba(255, 255, 255, 0.05);
  --profile-border: rgba(145, 91, 233, 1);
  --border-color: rgba(217, 217, 217, 1);
  --button-color-hover: rgba(145, 91, 233, 0.55);
  --social-color: rgba(145, 91, 233, 0.55);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon.svg);
  --switch-color: rgba(255, 255, 255, 0.1);
}

.light {
  --text-color: black;
  --bg-color: rgba(255, 222, 199, 1);
  --button-color: rgba(255, 107, 0, 0.2);
  --button-color-hover: rgba(255, 107, 0, 0.6);
  --border-color: rgba(0, 0, 0, 0.8);
  --social-color: rgba(255, 107, 0, 0.6);
  --switch-bg-url: url(./assets/sun.svg);
  --switch-color: rgba(255, 107, 0, 0.2);
}

body {
  background: var(--bg-color);
  height: 100vh;
  overflow: hidden;
}

#container {
  width: 100%;
  margin: 56px auto 0px;
  max-width: 588px;
  padding: 24px;
}

#profile {
  text-align: center;
  padding: 24px;
  margin-left: 8px;
}

#profile img {
  width: 120px;
}

#profile p {
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  border: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--switch-color) var(--switch-bg-url) no-repeat center;

  left: 0;
  top: 50%;
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  width: 64px;
  height: 24px;
  display: block;
  border-radius: 100vh;
  background: var(--switch-color);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid var(--border-color);
}

ul {
  text-color: var(--text-color);
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 30px 90px;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 30px;

  background: var(--button-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 15px;

  text-decoration: none;
  transition: background 0.2s;
}

ul li a:hover {
  background: var(--button-color-hover);
  border: 2px solid;
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--social-color);
}
